.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  margin: 0;
  padding: 0;
  background-color: #333;
  height: 100vh;
}

.registrationUserForm,
.roomSelectionMainBox {
  padding: 1rem 0.5rem;
  margin: 20vh 0;
  /* border: 1px solid #000; */
  /* border-radius: 10px; */
}

.card.localVideoContainer {
  margin-bottom: 0 !important;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.card.localVideoContainer > .card-header {
  background:rgba(0,0,0,0.7);
  z-index: 1;
}

.card.localVideoContainer video {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 0;
}

.participantContainer {
  position: relative;
  padding: 0;
  max-width: 16.6666666667%;
  width: auto;
  min-height: 240px;
  background:#3c454e;
  overflow: hidden;
  box-shadow: inset 1px 0px 0px #000;
  -moz-box-shadow: inset 1px 0px 0px #000;
  -webkit-box-shadow: inset 1px 0px 0px #000;
}

.participantContainer video {
  border: 1px #000 solid;
  border-radius: 0 !important;
  max-width: 100%;
  max-height: 100%;
}

.participantContainer .label.bottomstrip {
  position: absolute;
  width: 100%;
  height: 35px;
  line-height: 35px;
  padding: 0 15px;
  background: rgba(0,0,0,0.7);
  left: 0;
  bottom: 0px;
  color: #ffffff;
  margin: 0;
  font-size: 14px;
}